# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
/data/qa/
/data/stanford-corenlp-full-2018-10-05/
!/data/ca/task3_train.txt
!/data/ca/task3_train_1k.txt
!/data/ca/task3_train_train.txt
!/data/ca/task3_train_test.txt
!/data/ca/task3_train_shuf.txt
src/__pycache__/
/data/ca/task3_test_data_expand/
/model/
data/ca/task3_test_data_expand.zip
model/
/data/bert_train/
/data/bert_test/
data/bert_test/
data/bert_train/
data/ca/task3_train_100.txt
!/data/fn/
data/ca/task3_dev_100.txt
data/ca/task3_train_5w.txt
data/right_ca/
!/data/fn/ccks2019_event_entity_extract/ccks2019_event_entity_extract/event_type_entity_extract_train.csv
!/data/fn/ccks2019_event_entity_extract/ccks2019_event_entity_extract/event_type_entity_extract_eval.csv
